{% extends "base.html"  %}


{% block title %} Gitea {% endblock %}

{% block main %}


<div class="card shadow">
   <div class="card-header">
       <h3 align="center">Gitea</h3>
   </div>
   <div class = "card-body">
	<section id="users">
	<header>
	  <h3>Users</h3>
	</header>
         <table class="table table-striped">
           <thead>
               <tr>
	           <th scope="col">Login</th>
		   <th scope="col">Email</th>
		   <th scope="col">Admin</th>
		   <th> <button id="addRowBtn" onclick="addRow()" class="btn btn-secondary btn-sm ">add</button> <th>
              </tr>
           </thead>
	   <tbody id="users" >
           {% for user in context.users %}
	   <tr>
	      <td scope="row"> {{ user.login }}  </td>
	      <td scope="row"> {{ user.email }}  </td>
	      <td scope="row"> {{ user.admin }}</td>
	      <td scope="row"> - </td>
	   </tr>
	   {% endfor %}
           </tbody>
        </table>
     </section>
     <section id="projects"> 
	<header>
	  <h3>Projetos</h3>
	</header>
	<table class="table table-striped">
	 <thead>
	   <tr>
		<th>ID</th>
		<th>Owner</th>
		<th>Nome</th>
		<th>ssh_url</th>
	   </tr>
	   <thead>
	   <tbody>
           {% for project in context.projects %}
	    <tr>
	    	<td> {{ project.id }} </th>
		<td> {{ project.owner }} </td>
		<td> {{ project.nome }}</td>
		<td> {{ project.ssh_url }} </td>
	    </tr>
	   {% endfor %}
           </tbody>
        </table>
     </section>
		
  </div> 

{% endblock %}


{% block javascript %}
<script>
function addRow(){
	var row = $("<tr>")

	row.append($('<td><input type="text" class="w-50 form-control form-control-sm" id="username" aria-describedby="emailHelp" placeholder="Email"></td>'))
	   .append($('<td><input type="text" class="w-50 form-control form-control-sm" id="email" aria-describedby="usernameHelp" placeholder="Username"></td>'))
	   .append($('<td style="text-align: center"> <input class="form-check-input" type="checkbox" value="" id="isadmin" <label class="form-check-label" for="defaultCheck1"> </td>'))
           .append($('<td><a href="javascript:void(0)" onclick="formSubmit()" >add</a> <a href="">cancel</a></td>'));

	
	$("#users tbody").append(row)
	document.getElementById("addRowBtn").disabled= true

}

function getCheckBoxStatus(checkbox_id){
	if (document.getElementById(checkbox_id).checked == true){
		return "True"
	}
	else {
		return "False"
	}
}

function formSubmit(){
	var form = $('<form style:"position: absolute; width:0, height:0; opacity:0;display: none; visibility: hidden;" method="POST" action="/service/gitea/add/users">')

	form.append('<input type="hidden" name="email" value="' + document.getElementById("email").value + '">');
	form.append('<input type="hidden" name="username" value="' + document.getElementById("username").value + '">');
	form.append('<input type="hidden" name="is_admin" value="' + getCheckBoxStatus("isadmin") + '">');
	
	$("body").append(form);

	form.submit();

}
</script>
{% endblock %}

